<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyLabMobile">
        
        <!-- FileProvider para compartir archivos de cámara -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.LoginActivity" />
        <activity
            android:name=".ui.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CategoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.CartActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ProductDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.OrderReceiptActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.OrderHistoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.ProfileActivity" />
        <activity
            android:name=".ui.AddressListActivity"
            android:exported="false"
            android:parentActivityName=".ui.ProfileActivity" />
        <activity
            android:name=".ui.AddAddressActivity"
            android:exported="false"
            android:parentActivityName=".ui.AddressListActivity"
            android:windowSoftInputMode="adjustResize"/>
            
        <activity
            android:name=".ui.AdminDashboardActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.AddEditProductActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdminDashboardActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
